<h1>Lists of to do</h1>
 <table>
  <thead>
    <tr>
      <th>Name of to do</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'delete', task_path(task), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
 </table>
 <%= link_to 'Create', new_task_path %>